<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="baseUrl" value="http://localhost:82/v1"/>
        <add key="partnerToken" value="-- insert your partner token --"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
